[Unit]
Description= What IP is there?

[Service]
Type=idle
ExecStart=/usr/bin/python3 /bin/vigilante/vigilante.py

[Install]
WantedBy=multi-user.target